/* header.css */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* top bar */
.top-bar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #0A4B65;
}

/* toggler icon */
.bi {
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .3s;
}

.bi:hover {
    color: #0A4B65;
    background-color: white;

}

/* brand */
.logo {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    background: rgba(255, 255, 255, 1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

/* shared nav-links */
.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 1rem;
}

.nav-links a {
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color .3s, transform .3s;
    padding: .75rem 0;
}

/* Link Effects */
.nav-links a:hover {
    color: #0A4B65 !important;
    background-color: #ffffff;
    border-radius: 10px;
    height: 90%;
    transform: translateY(-2px);
}

.nav-links a:hover::after {
    width: 100%;
}

/* responsive tweaks */
@media (min-width: 768px) {

    /* hide mobile menu, show desktop */
    #mainMenuMobile {
        display: none !important;
    }

    #mainMenuDesktop {
        display: flex !important;
    }

    /* desktop links in header */
    #mainMenuDesktop .nav-links a {
        color: white;
    }
}

.navbar-toggler {
    border: none;
    box-shadow: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

#mainMenuMobile {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#mainMenuDesktop {
    padding-right: 30px;
}